.section {
    @apply bg-white bg-slate-100;
}

.div_container {
    @apply py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6;
}

.h2 {
    @apply mb-8 text-4xl tracking-tight font-extrabold text-gray-900;
}

.svg {
    @apply flex-shrink-0 mr-2 w-5 h-5 text-gray-900;
}

.question {
    @apply flex items-center mb-4 text-lg font-medium text-gray-900;
}

.answer {
    @apply text-gray-500 text-gray-900;
}

.elementToFadeInAndOut {
    opacity: 0;
    -webkit-animation: fadeinout 2s forwards;
    animation: fadeinout 2s forwards;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
